/* square css props examples */

.square {
  background-color: var(--secondary);
  height: 140px;
  width: 140px;
  color: white;
}
.framed {
  border: 16px solid var(--primary);
}
.padding {
  padding: 16px;
}
.margin {
  margin: 16px;
}
.flex {
  display: flex;
}
.flex-between {
  display: flex;

  justify-content: space-between;
}

.content-holder {
  max-width: 800px;
  //border: 3px solid var(--primary);
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 1rem;
  margin: 2rem auto;
  background-color: #f8f8f8;
}
