pre,
code {
  font-family: 'Ubuntu Mono', monospace;

  line-height: 1.2;
}
pre {
  border: none;
  background-color: black;
  color: white !important;
  padding: 24px;
  border-radius: 4px;
  letter-spacing: 0.4px;
  font-size: 16px;
  margin: 32px 0;
}

code {
  background-color: #ffe4f3;
  background-color: #eeddff;
  border-radius: 4px;
  padding: 4px 8px;
  white-space: nowrap;
}
pre code {
  background-color: transparent;
  padding: 0;
  white-space: break-spaces;
}
td:first-of-type code {
  background-color: black;
}
