table {
  border-collapse: collapse;
}

.fixed {
  position: fixed;
  top: 0;
  max-width: 800px;
}

td,
th {
  border: 4px solid var(--primary);
  padding: 8px;
}
th {
  text-align: left;
  background-color: var(--primary);
  color: white;
}

table code {
  white-space: normal;
}
